@media screen and (max-width: 770px) {

.p-sec{
    flex-direction: column-reverse;
    padding: 0 20px;
    justify-content: space-evenly;
    min-height: auto;
}

.introduccion{
    padding-top: 40px;
}

.p-sec.grupo {
    justify-content: start;
}

.img-sec-portada{
    width: calc(100% + 40px);
}

.fondo.grid.oraciones{
    text-align: center;
    z-index: 9;
    width: 100%;
    position: relative;
}

.descrip{
    z-index: 9;
}

/*---------------GALERIA PROJECTOS---------------*/
.project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.element-grid {
    margin: 20px;
    width: 100%;
}

.fondo.grid, .frente.grid{
    padding: 24px
}

}

@media screen and (max-width: 720px) {
   
header{
    padding: 10px 40px;
    display:flex;
    justify-content: space-between;
    align-items:baseline;
}

header a, header button{ /*enlace de la navegación*/
    font-size: 1em;
}

  /*PRIMERA SECCION DE LA PORTADA*/
  
.primera-portada{ /*div global de la intro*/
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: -2;
    font-family: "league gothic", sans-serif;
}  
  
.texto-animado{
    width: 100%;
}
  
.texto-animado span {
    font-size: clamp(8em);
    line-height: 1;
    font-weight: 900;
}

.descrip{
    font-size: 4em;
}

.frente.intro{
    padding-right: 0;
    margin-bottom: 40px;
}

.introduccion{
    width: 100%;
    font-size: inherit;
}

.frente.grupo{
    position: absolute;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
}


/*---------------TARJETAS---------------*/
.tarjeta.presentacion{
    width: 90%;
    justify-content: space-around;
}

}