                      /*GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
::-webkit-scrollbar {
            display: none;
            color: #298287;
            width: 3px;
        }

body,html{ /*cuerpo de la pagina*/
    min-width: 320px;
    position: relative; /*posiciono para usar de referencia en el texto animado*/
    scroll-behavior: smooth;
    transition: background-color 0.5s ease;
}

:root{ /*base (raiz)*/
    font-family: "league gothic", sans-serif;
    --font-family: "league gothic", sans-serif;
    --height: 100dvh;
    --color-1: #298287;
    --color-2: #00D0E0;
    --color-3: #E00085;
    --color-4: #fffb24;
    --color-5: #E0C30A;
}

      /*---------------CABECERA---------------*/
header{
    width: 100%;
    position: sticky;
    top:0;
    z-index: 9;
}
    
nav{ /*barra de navegacion*/
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 1.5em;
}

ul { /*lista de redes sociales*/
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
}

li{ /*elemento de la lista*/
    text-decoration: none;
    list-style: none;
}

nav a{ /*enlace de la navegación*/
    cursor:pointer;
}

nav a:hover{
    cursor:pointer;
}

      /*---------------PRIMERA SECCION DE LA PORTADA---------------*/
.primera-portada{ /*div global de la intro*/
    width: 100%;
    height: calc(100dvh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 4;
}

.pp-top{ /*Primera seccion*/
    width: 100%;
}

      /*---------------TEXTO ANIMADO---------------*/
.texto-animado { 
    width: inherit;
    position: relative;
    display: flex;
    align-items: end;
    margin: auto;
    bottom: 0;
    opacity: 90%;
}

.texto-fondo:nth-child(2){
    position: relative;
    padding-left: 34.55%;
    padding-top: 20px;
}

.texto-animado span {
    position: relative;
    font-family: sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(32px, 18vw, 12em);
    line-height: 1;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: default ;
}

.texto-animado span.aparecido {
    opacity: 1;
}

.texto-animado span:nth-child(1), .texto-animado span:nth-child(2), .texto-animado span:nth-child(5) {
    color: var(--color-1); 
}

      /* Efecto visual al seleccionar texto */
.texto-animado.seleccionado span {
    color: #ffffff;
    animation: parpadeo 1s infinite;
    background-color: var(--color-1);
}

.texto-animado span::selection {
    color: #ffffff;
    animation: parpadeo 1s infinite;
    background-color: var(--color-1);
}

      @keyframes parpadeo {
          0%, 100% {
          background-color: var(--color-1);
          color: #ffffff;
          }
          50% {
          background-color: rgb(173, 173, 173);
          opacity: 0.5;
          color: white;
          }
      }

      /*---------------LÍNEAS DECORATIVAS---------------*/
div.vertical-rule{ /*linea vertical color (elemento decoracion)*/
    background-color:var(--color-2);
    position: absolute;
    left: 40%;
    width: 1.5pt;
    animation: crecimiento 4s linear 1s forwards; /*crece de arriba a abajo con 1s de delay y se queda*/
    z-index: -5;
}

div.horizontal-rule{ /*linea horizontal color (elemento decoracion)*/
    position: relative;
    left: 0;
    height: 6em;
    border-bottom: 2pt solid var(--color-2);
    animation: movimiento 2s linear 1s forwards; /*crece de izquierda a derecha con 1s de delay y se queda*/
    opacity: 0;
}

    @keyframes movimiento{ /*animacion linea horizontal*/
        from { width: 0; opacity: 0; }
        to { width: 100%; opacity: 1; }}

    @keyframes crecimiento { /*animacion linea vertical*/
        from { height: 0; }
        to { height:100%; }}


p.text-p{ /*parrafos primera seccion*/
  font-family: "League Gothic", sans-serif;
  font-size:  1.5em;
  animation: opacidad 2s forwards;
}

@keyframes opacidad {
  0%, 50% { opacity: 0; }
  100% { opacity: 1; }
}

p.text-p span.sub:hover{ /*tachado palabras primera seccion*/
  text-decoration-line: line-through;
  color: var(--color-1);
}

/*---------------SECCION SEPARADOR---------------*/
.separador{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 8em;
}

div.horizontal-rule:nth-child(1){ /*linea horizontal amarilla sec 2*/
    height: 1em;
}

/*--------------- SECCION XX ---------------*/
.p-sec-intro:nth-first-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
    width: 100%;
    padding: 0 40px;
    position: relative;
}

.frente_intro{
    position: relative;
    text-align: right;
    right: 0;
    padding-right: 48px;
    mix-blend-mode: multiply;
}

.introduccion{
    width: 55%;
    font-size: 1.2em;
    font-family: "roboto", Helvetica, sans-serif, sans-serif;
}

/*--------------- SECCION XX ---------------*/
.frente_intro:nth-child(1){
    position: absolute;
    top:0;
    left:0;
    text-align: left;
    padding: 100px 0;
    margin-left: 40px;
    z-index: 2;
}

.p-sec-intro{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100dvh;
    width: 100%;
    padding: 0 40px;
    position: relative;
}

.descrip.cabecera.peque{
    font-size: 6em;
}

.img-sec-portada{
    height: 80dvh;
    width: 80%;
    object-fit: cover;
    margin-right: 48px;
}

/*---------------SECCION PROJECTOS---------------*/
.projectos{
  position: relative;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/*---------------FONDO PROJECTOS---------------*/
.fondo_grid{ 
    position: relative;
    z-index: -2;
    padding: 48px;
}

.frente_grid{
    position: absolute;
    text-align: right;
    right: 0;
    padding: 48px;
    z-index: 7;
}

.fondo_grid.oraciones {
    position: absolute;
    width: 100%;
}

.fondo_grid.oraciones.uno{
    text-align: right;
    top: 5%;
    border-bottom: 2pt solid var(--color-2);
}

.fondo_grid.oraciones.dos{
    top: 38%;
    justify-self: center;
    text-align: right;
}

.fondo_grid.oraciones.tres{
    top: 65%;
    border-top: 2pt solid var(--color-2);
}

.descrip{
    font-size: 10em;
    text-transform: uppercase;
    line-height: 0.8em;
    mix-blend-mode: multiply;
}

.descrip.cabecera{
    color: var(--color-1);
    font-weight: 700;
    text-transform: lowercase;
}

.descrip span{ 
    color: var(--color-1);
}

.descrip span.oculto{ /*palabras que se muestran al volverse amarillo el fondo*/
    color: white;
}

.blur{ /*texto borroso*/
    filter:blur(3px);
}

/*---------------GALERIA PROJECTOS---------------*/
.project-grid {
    position:relative;
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-row-gap: 0em;
    padding: 0 24px;
}

.element-grid {
    margin-top: -3em;
    position: relative;
    overflow: hidden;
    grid-area: span 1/span 4/span 1/span 4;
    transition: color 0 1s ease-in-out;
}

.element-grid-img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    align-self: center;
    background-color: var(--color-1);
    transform-origin: top left; /*crecer desde esquina superior izquierda */
    transition: transform 0.1s linear;
}

.element-grid-img.plana{
    height: 19.5em;
}

.element-grid-img img{
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  mix-blend-mode: luminosity;
}

.element-grid-img img:hover{
  mix-blend-mode: normal;
}

.element-grid-img-int {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    filter: brightness(100%) contrast(100%);
    transform: translate(0px, 0px);
}

.element-grid-texto {
    display: block;
    padding-top: 12px;
    padding-left: 12px;
    transition: color 1s 1s ease;
}

.texto-none {
  color: var(--color-1);
}


.element-grid:nth-child(1) {
  margin-top: 0;
}

.element-grid:nth-child(2) {
  grid-area: 2/5/3/11;
}

.element-grid:nth-child(3) {
  grid-area: 3/2/4/5;
}

.element-grid:nth-child(4) {
  grid-area: 4/5/5/8;
}

.element-grid:nth-child(5) {
  grid-area: 5/8/6/12;
}

.element-grid:nth-child(6) {
  grid-area: 6/3/7/8;
}

.element-grid-texto p{
  font-size: 1.8em;
}

.desplegado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    background-color: var(--color-1);
}

.tarjeta{
    position: fixed;
    display: none;
    justify-content: center;
    background-color: rgb(17, 56, 58, 0.8);
    align-self: anchor-center;
    height: 100dvh;
    width: 100%;
}

.tarjeta.visible{
    display: flex;
}

.tarjeta.presentacion{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80dvh;
    padding: 20px 60px 40px;
    border-radius: 10%;
    background-color: white;
    box-shadow:  -6px 7px 10px 5px rgb(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 10;
    justify-content: space-around;
}

.tarjeta p.biografia{
  color: black;
  font-size: 0.9em;
  font-family: monospace, "league-gothic", sans-serif;
}

picture {
  height: 40dvh;
  overflow: hidden;
  background-position: center;
}

picture img{
    object-fit: cover;
    width: 100%;
}

.tarjeta h3{
    text-align: center;
    font-size: 3em;
}

.bio{
  display: none;
}