/*GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{ /*base*/
    font-family: "league gothic", sans-serif;
    --height: 100dvh;
}

::-webkit-scrollbar {
    display: none;
    color: #298287;
    width: 3px
}

body, html{ /*cuerpo de la pagina*/
    min-width: 320px;
    position: relative; /*posiciono para usar de referencia en el texto animado*/
    scroll-behavior: smooth;
    transition: all 1s ease;
}

body{
    background-color: #ffffff;
    color: black;

    /*variables*/
        --color-1: #298287;
        --color-2: #00D0E0;
        --texto-1: #000;
        --texto-2: #fff;
}

body.dark{ /*cuerpo de la pagina en modo oscuro*/
    background-color: #222;
    color: white;
        --color-1: #00D0E0;
        --color-2: #298287;
        --texto-1: #fff;
        --texto-2: #000;
}

h1, h2{
    cursor: default;
}

      /*---------------CABECERA---------------*/
header{
    position: sticky;
    top:0;
    z-index: 9;
    padding: 20px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header a, header button{ 
    color: inherit;
    font-size: 1.5em;
}

header a { 
    cursor: pointer;
    text-decoration: none;
}

header h1{
    font-size: inherit;
    font-weight: normal;
}

header button {
    font-family: "league gothic",sans-serif;
    background-color: transparent;
    border: 0
}

nav{
    width: 60%;
}

nav ul{
    display:flex;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
}

nav li,nav ul {
    list-style: none
}

nav li{ /*elemento de la lista*/
    width: 25%;
}

ul.rrss{ /*lista de redes sociales*/
    display: flex;
    justify-content: end;
    width: 25%;
}

.rrss li{
    width: 15%;
}

header a:hover, nav button:hover, .frente.cierre a:hover{
    cursor:pointer;
    background-color: var(--color-2);
    animation: nav 1.5s;
    color: var(--texto-1);
    padding: 0 4px;
}

@keyframes nav{ /*animacion nav*/
    0%, 50%{
        letter-spacing: initial;
    }

    25%{
        letter-spacing: 10px;
        padding: 0 4px;
    }

    75%{
        letter-spacing: 5px;
        padding: 0 4px;
    }
}

      /*---------------PRIMERA SECCION DE LA PORTADA---------------*/
.primera-portada{ /*div global de la intro*/
    width: 100%;
    height: calc(100dvh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 8;
}

.pp-top{ /*Primera seccion*/
    width: 100%;
}

      /*---------------TEXTO ANIMADO---------------*/
.texto-animado { 
    width: inherit;
    position: relative;
    display: flex;
    align-items: end;
    margin: auto;
    bottom: 0;
    opacity: 90%;
}

.texto-fondo:nth-child(2){
    position: relative;
    padding-left: 42%;
    padding-top: 20px;
}

.texto-animado span {
    position: relative;
    font-family: sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12em;
    line-height: 1;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: default;
}

.texto-animado span.aparecido {
    opacity: 1;
}

.texto-animado span:nth-child(1), .texto-animado span:nth-child(2), .texto-animado span:nth-child(5) {
    color: var(--color-1); 
}

      /* Efecto visual al seleccionar texto */
h1.seleccionado, h2.seleccionado, .texto-animado.seleccionado span, h1.seleccionado::selection, h2.seleccionado::selection, .texto-animado span::selection {
    color: var(--texto-2);
    animation: parpadeo 1s infinite;
    background-color: var(--color-1);
}

      @keyframes parpadeo {
          0%, 100% {
          background-color: var(--color-1);
          color: var(--texto-2);
          }
          50% {
          background-color: rgb(173, 173, 173);
          opacity: .5;
          color: var(--texto-2);
          }
      }

      /*---------------LÍNEAS DECORATIVAS---------------*/
div.vertical-linea{ /*linea vertical color (elemento decoracion)*/
    background-color:var(--color-1);
    position: absolute;
    left: 40%;
    opacity: 60%;
    width: 1.5pt;
    animation: crecimiento 10s linear forwards; /*crece de arriba a abajo y se queda*/
}

div.horizontal-linea{ /*linea horizontal color (elemento decoracion)*/
    position: relative;
    left: 0;
    height: 6em;
    border-bottom: 2pt solid var(--color-1);
    opacity: 0;
}

div.horizontal-linea.animacion{
    animation: movimiento .5s linear forwards; /*crece de izquierda a derecha y se queda*/
}

    @keyframes movimiento{ /*animacion linea horizontal*/
        from { width: 0; opacity: 0; }
        to { width: 100%; opacity: 1; }}

    @keyframes crecimiento { /*animacion linea vertical*/
        from { height: 0; }
        to { height:100%; }}


h4{ /*parrafos primera seccion*/
    font-size:  1.5em;
    animation: opacidad 2s forwards;
    font-weight: 400;
}

    @keyframes opacidad {
        0%, 50% { opacity: 0; }
        100% { opacity: 1; }
    }

h4.text-p span.sub:hover, p span.sub:hover{ /*tachado palabras primera seccion*/
    text-decoration-line: line-through;
    color: var(--color-1);
}

/*--------------- SEPARADOR ---------------*/
.separador{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 8em;
}

.separador .horizontal-linea:nth-child(odd) { /*linea horizontal 1º separador*/
    height: 1em;
}

/*--------------- SECCIONES ---------------*/
.p-sec{ /*general secciones*/
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    margin: 100px 0;
    justify-content: space-around;
}

.frente{
    position: absolute;
    text-align: right;
    right: 0;
    z-index: 1;
    bottom: 0;
}

.frente.intro{
    position: relative;
}

.introduccion, p{
    font-size: 1.1em;
    font-family: "roboto", Arial, Helvetica, sans-serif;
}
    
p{
    font-size: 1.1em;
}
    
/*--------------- SECCION GRUPO ---------------*/
.frente.grupo{
    top:0;
    left:0;
    text-align: left;
    padding-top: 100px;
    margin-left: 40px;
}

.p-sec.grupo{
    justify-content: end;
    margin: 0;
}

.img-sec-portada{
    height: 100%;
    width: 80%;
    object-fit: cover;
}

/*---------------SECCION PROJECTOS---------------*/
.projectos{
  position: relative;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

    /*-----------FONDO PROJECTOS----------*/
.fondo.grid, .frente.grid{ 
    padding: 48px;
}

.fondo.grid{
    position: relative;
}

.fondo.grid.oraciones {
    position: absolute;
    width: 100%;
    text-align: right;
    border-bottom: 2pt solid var(--color-2);
    z-index: -1; /*debajo del body*/
}

.fondo.grid.oraciones.uno{ /*frases borrosas*/
    top: 2%; 
}

.fondo.grid.oraciones.dos{
    top: 48%;; 
}

.fondo.grid.oraciones.tres{
    top: 63%; 
    text-align: left;
}

.descrip {
    font-size: 10em;
    text-transform: uppercase;
    line-height: .8em;
}

.descrip span {
    color: var(--color-1);
}

.descrip.cabecera, .descrip.cabecera span {
    font-weight: 700;
    text-transform: lowercase;
    color: var(--color-2);
}

.descrip.cabecera span{
    color: var(--texto-2);
}

.descrip span.oculto{ /*palabras que se muestran al volverse de color el fondo*/
    color: var(--texto-2);
}

.blur{ /*texto borroso*/
    filter: blur(3px);
}

/*---------------GALERIA PROJECTOS---------------*/
.project-grid {
    position:relative;
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-row-gap: 0;
    padding: 0 24px;
}

.element-grid {
    margin-top: -3em;
    position: relative;
    overflow: hidden;
    grid-area: span 1/span 4/span 1/span 4;
    transition: color 0s 1s ease-in-out;
}

.element-grid:nth-child(1) {
    margin-top: 0;
}

.element-grid:nth-child(2) {
    grid-area: 2/5/3/11;
}

.element-grid:nth-child(4) { /*+1 por la frase*/
    grid-area: 3/2/4/5;
}

.element-grid:nth-child(6) {
    grid-area: 4/5/5/8;
}

.element-grid:nth-child(7) { /*+1 por la frase*/
    grid-area: 5/8/6/12;
}

.element-grid:nth-child(9) { /*+1 por la frase*/
    grid-area: 6/3/7/8;
}

.element-grid-img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    align-self: center;
    background-color: var(--color-1);
}

.element-grid-img-int.vacia{
    aspect-ratio: 4 / 3;
    width: 100%;
    background-color: var(--color-1);
    cursor: pointer;
}

.element-grid-img img{
    max-width: 100%;
    vertical-align: middle;
    mix-blend-mode: luminosity;
}

.element-grid-img img:hover{
    mix-blend-mode: normal;
}

.element-grid-img-int {
    cursor: pointer;
    width: 100%;
    position: relative;
    filter: brightness(100%) contrast(100%);
}

.element-grid-texto h4{
    display: block;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 1.8em;
}

.bio, .haz-click, svg, .newsletter button{ /*info que se traslada a la tarjeta*/
  display: none;
}

    /*--ACTIVAR CAMBIO FONDO EN DISPOSITIVOS TACTILES--*/
svg{ /*ojo en svg*/
    stroke-width: 4px;
    fill: none; 
    stroke: var(--texto-1);
}

/*---------------POP-UP TARJETA---------------*/

.tarjeta, .popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    background-color: rgb(17, 56, 58, 0.8);
    align-items: center;
    z-index: 10;
}

.tarjeta.visible, .popup.desplegado{
    display: flex;
}

.tarjeta-presentacion, .popup-contenido {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    height: 80dvh;
    padding: 20px 60px 40px;
    border-radius: 10%;
    background-color: var(--texto-2);
    box-shadow:  -6px 7px 10px 5px rgb(0, 0, 0, 0.4);
    overflow: scroll;
    justify-content: space-around;
}

.tarjeta-presentacion{
    overflow: hidden;
}

.pres{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}

.cerrar{
    color: var(--color-1);
    font-size: 2em;
}

.tarjeta .grafico{  /*agrupacion titulo + foto*/
    height: 70%;
}

h3.titulo-popup{
    text-align: center;
    font-size: 3em;
}

.tarjeta picture {
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta picture img{
    object-fit: cover;
    width: 100%;
    position: relative;
}

.tarjeta p.biografia{
    color: var(--texto-1);
    font-size: .9em;
    font-family: monospace, Arial, Helvetica, sans-serif;
    padding-top: 15px;
    text-align: left;
}

/*--------------- SECCION CIERRE ---------------*/
.p-sec.cierre{
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 120px;
    z-index: 0;
}

.fondo.cierre{
    text-align: center;
}

.descrip.cierre, .expresiones{
    font-size: 6em;
}

.cierre h4.text-p{
    padding-bottom: 40px;
}

.frente.cierre{
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.cierre a, .f-contactar a{
    cursor:pointer;
    color: var(--color-1);
    text-transform: lowercase;
}

/*----NEWSLETTER----*/
.newsletter {
    position: relative;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5em;
    background-color: var(--texto-2);
}

.simulacion{
  display: flex;
  opacity: 0;
  position: relative;
  transform: translateY(-0.7em);
  transition: transform .2s linear;
}

.newsletter, .cortina, .text-subtitulo{
    transition: all 1s ease; 
}

.cortina{/*tapa la frase al desplazarse*/
    display: inline-block;
    height: 1.3em;
    width: 100%;
    background-color: var(--texto-2);
    transform: translateY(3rem);
    z-index: 3;
}

.newsletter .text-subtitulo{
    position: relative;
    z-index: 2;
    background-color: var(--texto-2);
}

.text-apuntarse{
    z-index: 1;
    position: absolute;
    bottom: 0;
    transform: translateY(-2.1em);
    transition: transform .2s linear;
}

.newsletter .text-subtitulo span{
  color: var(--color-1);

}

input.text-sim{
    font-family: 'League Gothic', sans-serif;
    font-size: 2.5rem;
    color: var(--text-1);
    border: none;
    outline: none;
    background-color: transparent;
}

.newsletter button{
    display: none;
}


/*PARA PANTALLAS portatil*/
@media screen and (max-width: 1440px) {
.descrip{
    font-size: 8em;
}
    /*COLOCACION ORACIONES SEC-PROJECTOS*/
.fondo.grid.oraciones.dos{
    top: 38%;
}
}

@media screen and (max-width: 1080px) {
.p-sec{
    flex-direction: column-reverse;
    padding: 0 20px;
    justify-content: space-evenly;
    min-height: auto;
}

.p-sec.grupo {
    justify-content: start;
}

.img-sec-portada{ /*adaptar al nuevo padding de p-sec*/
    width: calc(100% + 40px);
}

.texto-animado span {
    font-size: 10em;
}
}