                      /*GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

::-webkit-scrollbar {
    display: none;
    color: #298287;
    width: 3px;
}

:root{ /*base (raiz)*/
    font-family: "league gothic", sans-serif;
    --font-family: "league gothic", sans-serif;
    --height: 100dvh;
}

body, html{ /*cuerpo de la pagina*/
    min-width: 320px;
    position: relative; /*posiciono para usar de referencia en el texto animado*/
    scroll-behavior: smooth;
    transition: all 1s ease;
}

body{
    background-color: #ffffff;
    color: black;

    /*variables*/
    --color-1: #298287;
    --color-2: #00D0E0;
    --texto-1: #000;
    --texto-2: #fff;
}

body.dark{ /*cuerpo de la pagina*/
    background-color: #222;
    color: white;
    --color-1: #00D0E0;
    --color-2: #298287;
    --texto-1: #fff;
    --texto-2: #000;
}

      /*---------------CABECERA---------------*/
header{
    position: sticky;
    top:0;
    z-index: 9;
    padding: 20px 40px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

header a{ /*enlace de la navegación*/
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}

header h1{
    font-size: inherit;
    font-weight: normal;
}

nav{
    width: 60%;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content: space-between;
    gap:2rem;
    text-align: center;
}

nav li{ /*elemento de la lista*/
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 25%;
}

ul.rrss{ /*lista de redes sociales*/
    display: flex;
    justify-content: end;
    width: 25%;
}

.rrss li{
    width: 15%;
}


header a:hover, nav button:hover{
    cursor:pointer;
    background-color: var(--color-2);
    animation: nav 1.5s;
    color: black;
    padding: 0 4px;
}

@keyframes nav{
    0%{
        letter-spacing: initial;
    }

    25%{
        letter-spacing: 10px;
        padding: 0 4px;
    }

    50%{
        letter-spacing: initial;
    }
    75%{
        letter-spacing: 5px;
        padding: 0 4px;
    }
}

header button{
    font-family: "league gothic", sans-serif;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: inherit;
}

      /*---------------PRIMERA SECCION DE LA PORTADA---------------*/
.primera-portada{ /*div global de la intro*/
    width: 100%;
    height: calc(100dvh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 8;
}

.pp-top{ /*Primera seccion*/
    width: 100%;
}

      /*---------------TEXTO ANIMADO---------------*/
.texto-animado { 
    width: inherit;
    position: relative;
    display: flex;
    align-items: end;
    margin: auto;
    bottom: 0;
    opacity: 90%;
}

.texto-fondo:nth-child(2){
    position: relative;
    padding-left: 34.55%;
    padding-top: 20px;
}

.texto-animado span {
    position: relative;
    font-family: sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(32px, 18vw, 12em);
    line-height: 1;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: default ;
}

.texto-animado span.aparecido {
    opacity: 1;
}

.texto-animado span:nth-child(1), .texto-animado span:nth-child(2), .texto-animado span:nth-child(5) {
    color: var(--color-1); 
}

      /* Efecto visual al seleccionar texto */
.texto-animado.seleccionado span {
    color: #ffffff;
    animation: parpadeo 1s infinite;
    background-color: var(--color-1);
}

.texto-animado span::selection {
    color: #ffffff;
    animation: parpadeo 1s infinite;
    background-color: var(--color-1);
}

      @keyframes parpadeo {
          0%, 100% {
          background-color: var(--color-1);
          color: var(--texto-2);
          }
          50% {
          background-color: rgb(173, 173, 173);
          opacity: 0.5;
          color: var(--texto-2);
          }
      }

      /*---------------LÍNEAS DECORATIVAS---------------*/
div.vertical-linea{ /*linea vertical color (elemento decoracion)*/
    background-color:var(--color-1);
    position: absolute;
    left: 40%;
    width: 1.5pt;
    /*animation: crecimiento 4s linear 1s forwards; /*crece de arriba a abajo con 1s de delay y se queda*/
}

div.horizontal-linea{ /*linea horizontal color (elemento decoracion)*/
    position: relative;
    left: 0;
    height: 6em;
    border-bottom: 2pt solid var(--color-1);
    opacity: 0;
}
div.horizontal-linea.animacion{
    animation: movimiento 0.5s linear forwards; /*crece de izquierda a derecha con 1s de delay y se queda*/
}

    @keyframes movimiento{ /*animacion linea horizontal*/
        from { width: 0; opacity: 0; }
        to { width: 100%; opacity: 1; }}

    @keyframes crecimiento { /*animacion linea vertical*/
        from { height: 0; }
        to { height:100%; }}


h4{ /*parrafos primera seccion*/
  font-family: "League Gothic", sans-serif;
  font-size:  1.5em;
  animation: opacidad 2s forwards;
  font-weight: normal;
}

@keyframes opacidad {
  0%, 50% { opacity: 0; }
  100% { opacity: 1; }
}

h4.text-p span.sub:hover{ /*tachado palabras primera seccion*/
  text-decoration-line: line-through;
  color: var(--color-1);
}

/*---------------SECCION SEPARADOR---------------*/
.separador{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 8em;
}

.separador .horizontal-linea:nth-child(odd) {/*linea horizontal amarilla sec 2*/
    height: 1em;
}

/*--------------- SECCION XX ---------------*/
.p-sec{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    margin: 100px 0;
    justify-content: space-around;
}

.frente{
    position: absolute;
    text-align: right;
    right: 0;
    z-index: 1;
    bottom: 0;
    /*mix-blend-mode: multiply;*/
}

.frente.intro{
    position: relative;
}

.introduccion{
    font-size: 1.2em;
    font-family: "roboto", Helvetica, sans-serif, sans-serif;
}

/*--------------- SECCION GRUPO ---------------*/
.frente.grupo{
    top:0;
    left:0;
    text-align: left;
    padding-top: 100px;
    margin-left: 40px;
}

.p-sec.grupo{
    justify-content: end;
    margin: 0;
}

.img-sec-portada{
    height: 100%;
    width: 80%;
    object-fit: cover;
}

/*---------------SECCION PROJECTOS---------------*/
.projectos{
  position: relative;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/*---------------FONDO PROJECTOS---------------*/
.fondo.grid{ 
    position: relative;
    padding: 48px;
}

.frente.grid{
    padding: 48px;
    z-index: 0;
}

.fondo.grid.oraciones {
    position: absolute;
    width: 100%;
    text-align: right;
    border-bottom: 2pt solid var(--color-2);
}

.fondo.grid.oraciones.uno{
    top: 5%; /*cambiar esto para que sea la mitad de una de las imgs*/
}

.fondo.grid.oraciones.dos{
    top: 38%; /*rt*/
}

.fondo.grid.oraciones.tres{
    top: 65%; /*rt 2*/
    text-align: left;
}

.descrip{
    font-size: 10em;
    text-transform: uppercase;
    line-height: 0.8em;
}

.descrip.cabecera{
    color: var(--color-1);
    font-weight: 700;
    text-transform: lowercase;
    /*text-shadow: 1px 2px 3px var(--texto-2); no me convence*/
}

.descrip.cabecera span{
    color: var(--color-2);
}

.frente.intro .descrip.cabecera{
    color:var(--color-1);
}

.descrip span{ 
    color: var(--color-1);
}

.descrip span.oculto{ /*palabras que se muestran al volverse de color el fondo*/
    color: var(--texto-2);
}

.blur{ /*texto borroso*/
    filter:blur(3px);
}

/*---------------GALERIA PROJECTOS---------------*/
.project-grid {
    position:relative;
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-row-gap: 0em;
    padding: 0 24px;
}

.element-grid {
    margin-top: -3em;
    position: relative;
    overflow: hidden;
    grid-area: span 1/span 4/span 1/span 4;
    transition: color 0s 1s ease-in-out;
}

.element-grid:nth-child(1) {
  margin-top: 0;
}

.element-grid:nth-child(2) {
  grid-area: 2/5/3/11;
}

.element-grid:nth-child(3) {
  grid-area: 3/2/4/5;
}

.element-grid:nth-child(4) {
  grid-area: 4/5/5/8;
}

.element-grid:nth-child(5) {
  grid-area: 5/8/6/12;
}

.element-grid:nth-child(6) {
  grid-area: 6/3/7/8;
}

.element-grid-img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    align-self: center;
    background-color: var(--color-1);
    transform-origin: top left; /*crecer desde esquina superior izquierda */
}

.element-grid-img-int.vacia{
    background-color: var(--color-1);
    cursor: pointer;
}

.element-grid-img img{
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  mix-blend-mode: luminosity;
}

.element-grid-img img:hover{
  mix-blend-mode: normal;
}

.element-grid-img-int {
    cursor: pointer;
    width: 100%;
    /*height: inherit;*/
    position: relative;
    filter: brightness(100%) contrast(100%);
}

.element-grid-texto h4{
    display: block;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 1.8em;
}

.desplegado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    background-color: var(--color-1);
}

.projectos.cierre{
  margin-left:6em;
  align-items: center;
}

/*---------------POP-UP TARJETA---------------*/

.tarjeta{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    background-color: rgb(17, 56, 58, 0.8);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.tarjeta.visible{
    display: flex;
}

.tarjeta-presentacion{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80dvh;
    padding: 20px 60px 40px;
    border-radius: 10%;
    background-color: var(--texto-2);
    box-shadow:  -6px 7px 10px 5px rgb(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 1;
    /*justify-content: space-around;*/
}

.tarjeta p.biografia{
    color: var(--texto-1);
    font-size: 0.9em;
    font-family: monospace, "league-gothic", sans-serif;
    padding-top: 15px;
    text-align: left;
}

.tarjeta .grafico{
    height: 80%;
}

picture {
  height: 80%;
  overflow: hidden;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

picture img{
    object-fit: cover;
    width: 100%;
}

.tarjeta h3{
    text-align: center;
    font-size: 3em;
}

.bio{
  display: none;
}

        canvas{
            cursor: crosshair;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

/*--------------- SECCION CIERRE ---------------*/
.p-sec.cierre{
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 120px;
    z-index: 0;
}

.fondo.cierre{
    text-align: center;
}

.descrip.cierre{
    font-size: 6em;
}

.cierre h4.text-p{
    padding-bottom: 40px;
}

.frente.cierre{
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.frente.cierre a:hover{
    cursor:pointer;
    background-color: var(--color-2);
    animation: nav 1.5s;
    color: black;
    padding: 0 4px;
}

.cierre a{
    cursor:pointer;
    color: var(--color-1);
    text-transform: lowercase;
}

/*PARA PANTALLAS MÁS PEQUE*/
@media screen and (max-width: 1440px) {

.descrip{
    font-size: clamp(9em);
}

.fondo.grid.oraciones.uno{
    top: 2%;
}

.fondo.grid.oraciones.dos{
    top: 35%;
}

.element-grid-img-int.vacia{
    background-color: var(--color-1);
    cursor: pointer;
}
}

@media screen and (max-width: 1080px) {

.p-sec{
    flex-direction: column-reverse;
    padding: 0 20px;
    justify-content: space-evenly;
    min-height: auto;
}

.p-sec.grupo {
    justify-content: start;
}

.img-sec-portada{
    width: calc(100% + 40px);
}
}