/*Estilo de web CONTACTO + SOY(unete.html) + BUSCO(artistas.html)*/
.elige{
    height: 100dvh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 8;
    top:0;
    color: var(--color-1);
}

.elige .vertical-linea{
    left: calc(50% - 1.5pt);
    animation: crecimiento 1s linear forwards;
}

.matrix{
    margin: 2em;
    gap: 2em;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.pantal{
    display: flex;
    gap: .5em;
}

.responsive{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matrix a{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: var(--texto-1);
    text-decoration: none;
}

.responsive a{
    width: 150px;
    text-align: center;
    font-size: 4em;
}

.pildoras span {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: default;
}

.pildoras span.aparecido {
    opacity: 1;
}

.pildoras:hover{
    cursor: pointer;
    animation: flotar 1.5s ease-in-out infinite;
    background-color: var(--color-1);
    color: var(--texto-2);
    padding: 0 10px;
}

    @keyframes flotar{
      0%, to { transform: translateY(0);}
      50% { transform: translateY(-20px);}
    }

.pasando{
    position: fixed;
    bottom: 80px;
    font-size: 1.5em;
    display: flex;
    background-color: var(--texto-2);
    padding: 20px;
    transition: all 1s;
}

.pasando span{
    color: var(--texto-1);
}

.pasando span.aqui{
    text-decoration: underline;
}

.mas{
    visibility: hidden;
}

.mas a{
    color: inherit;
}

.ordena{
  display: none;
  text-align: center;
  justify-content: space-around;
}

/*WEB CONTRATAR ARTISTAS*/
div.filtro{
    position: fixed;
    z-index: 9;
    padding: 20px 40px;
    justify-content: flex-end;
    align-items: flex-end;
    right: 5%;
    top: 65%;
    flex-direction: row-reverse;
}

div.circulo{
    background-color: var(--color-2);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: fixed;
    top: inherit;
    right: inherit;
}

div.filtrado{
    display: flex;
    background-color: var(--color-1);
    padding: 1.5em;
    border-radius: 25px;
}

.filtro, .filtrar, .filtro label{
    display: flex;
    color: var(--texto-2);
}

.filtro{
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.filtro input, .filtro label{
    margin-right: .4em;
    margin-bottom: 0;
    width: auto;
}


.p-sec.contacto{
    flex-direction: column;
    align-items: flex-start;
    animation: opacidad 1s forwards;
    margin: 0;
}

.pp-contactar{
    margin: 30px 0;
}

h1.contactar{
    font-size: 8em;
    text-transform: uppercase;
    color: var(--color-1);
}

h4.subtitulo{
    font-size: 2em;
    margin-top: -30px;
}

h4.subtitulo.izq, p.izq{
    margin-left: 45px;
}

.pp-contactar p{
    margin-top: 10px;
}

.cursiva{
    font-style: italic;
}

    /*Secciones*/
section.artistas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-bottom: 1em;
}

.categorias {
    font-size: 3em;
    color: var(--color-1);
}

/*Tarjetas artistas*/
.artista{
  transform: translateY(30%);
  opacity: 0;
  transition: opacity .4s ease .2s, transform .4s ease .2s;
}

.artista .descrip{
    font-size: 5em;
}

.visible{
    opacity: 1;
    transform: translateY(0%);
}

.galeria-artistas p{
    font-size: 1.2em;
    line-height: 1;
}

.galeria-artistas picture{
    height: 300px;
    width: 100%;
    margin-bottom: 1em;
    overflow: hidden;
    display: inline-block;
    flex-shrink: 0;
}

.galeria-artistas picture img{
    object-fit: cover;
    width: 100%;
    height: 100%
}

.info-artista{
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.enlaces{
    display: flex;
}

.enlaces a, .btn.contratar{
    background-color: var(--color-1);
    color: var(--texto-2);
    text-align: center;
    padding: 2px 24px;
    border-radius: 15px;
    font-family: 'League Gothic';
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin: 10px 10px 0 0;
}

.enlaces a:hover, .btn.contratar:hover{
    background-color: var(--color-2);
    color: var(--texto-1);
}


    /*FORMULARIO DE CONTRATACION*/
/*.popup estilo en estilo.css con .tarjeta*/
form.contratar, form.unete{
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    max-width: 800px;
}

.popup iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*Formulario CONTRATAR*/
label {
    margin-bottom: .25rem;
    color: var(--color-1);
    font-family: "league gothic";
}

.opciones, input, select, textarea {
    width: 100%;
    padding: .6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: .8em;
    box-sizing: border-box;
    outline-color: var(--color-1);
    background-color: var(--texto-2);
    color: var(--texto-1);
}

input::file-selector-button {
    background-color: transparent;
    border: 1px solid #ccc;
    color: var(--texto-1);
    margin-right: 2em;
}

textarea {
    min-height: 100px;
}

.full-width, textarea {
    grid-column: 1 / -1;
}

/*UNETE*/
.p-sec.unete{
    animation: opacidad 1s forwards;
    margin: 0;
}

form.unete{
    gap: 0;
}

.opciones, input, select, textarea{
    margin-bottom: .5rem;
    z-index: 4;
}

 .rastro {
      position: fixed;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-1);
      pointer-events: none;
      opacity: .7;
      animation: fade 1s ease-out forwards;
    }

    @keyframes fade {
      to {
        opacity: 0;
        transform: scale(1.5);
      }
    }

/*---MEDIA RESPONSIVE---*/
@media screen and (min-width: 1920px){
.artista picture{
    width: 550px;
}
}

@media screen and (max-width: 1024px){
section.artistas{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.artista{
  display: flex;
}

.galeria-artistas picture{
  width: 325px;
  margin-bottom: 1em;
}

.galeria-artistas picture img{
  width: 400px;
  height: 100%;
}

.info-artista{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}}

@media screen and (max-width: 770px){
.pasando{
    flex-direction: column;
    text-align: center;
    bottom: 60px;
}
}

@media screen and (max-width: 640px){
.artista{
    flex-direction: column;
    align-items: center;
}

.info-artista{
    min-height: 250px;
}

.enlaces{
      justify-content: space-evenly;
}
}

