.elige{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    position: fixed;
    z-index: 8;
    flex-direction: column;
    top:0;
    color: var(--color-1);
}

.expresiones {
    font-size: 6em;
}

.matrix{
    margin: 2em;
    gap: 2em;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.pantal{
  display: flex;
  gap: 0.5em;
}

.responsive{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.matrix .btn, .matrix a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--texto-1);
    font-family: "league gothic";
    font-size: 6rem;
    font-weight: 900;
    text-decoration: none;
    width: 40%;
}

.responsive .btn, .responsive a{
    width: 150px;
    text-align: center;
    font-size: 4rem;
}

.pildoras span {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    cursor: default;
}

.pildoras span.aparecido {
    opacity: 1;
}

.pildoras:hover{
    cursor: pointer;
    animation: flotar 1.5s ease-in-out infinite;
    background-color: var(--color-1);
    color: var(--texto-2);
    padding: 0 10px;
}

    @keyframes flotar{
      0%, 100% { transform: translateY(0);}
      50% { transform: translateY(-20px);}
    }

.pasando{
  position: fixed;
  bottom: 200px;
  font-size: 1.5em;
  display: flex;
  background-color: var(--texto-2);
  padding: 20px;
  transition: all 1s;
}

.pasando span{
 color: var(--texto-1);
}

.pasando span.aqui{
 text-decoration: underline;
}

.mas{
  visibility: hidden;
}

.mas a{
  color: inherit;
}

/*
.filtros-artistas{
  position: sticky;
  right: 0;
  top: 50px;
  z-index: 10;
  justify-content: end;
}*/

.filtro{
  width: 30px;
  padding: 4px;
  background-color: var(--color-1);
  border-radius: 5px;
  mix-blend-mode: hard-light;
  position: absolute;
}

.filtro.desplegado{
  position: relative;
}

#filtro-form{
display: none;
flex-direction: column;
}

#filtro-form.desplegado{
display: flex;
}

.labels{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label, input, .opciones{
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: monospace;
}

#text{
  font-weight: bold;
  color: var(--color-1);
}

.ordena{
  display: none;
  text-align: center;
  justify-content: space-around;
}

.linea{
  width: 0.5em;
  background-color: var(--color-1);
}

.p-sec.contacto{
    flex-direction: column;
}

.artista .descrip{
  font-size: 5em;
}

section.artistas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin-bottom: 1em;
}

.artista{
  transform: translateY(30%);
  opacity: 0;
  transition: opacity .5s ease .2s, transform .5s ease .2s;
}

.visible{
  opacity: 1;
  transform: translateY(0%);
}

.categorias {
    font-size: 3em;
    color: var(--color-1);
}

.elige .vertical-linea{
    left: calc(50% - 1.5pt);
    animation: crecimiento 1s linear forwards;
}

.galeria-artistas p{
    font-size: 1.2em;
    line-height: 1;
}

.galeria-artistas picture{
    height: 300px;
    margin-bottom: 1em;
    overflow: hidden;
    display: inline-block;
    flex-shrink: 0;
}

.galeria-artistas picture img{
    object-fit: cover;
    width: 100%;
    height: 100%
}

.info-artista{
  display: flex;
  flex-direction: column;
  height: 300px;
}

.enlaces{
  display: flex;
}

.enlaces a, .btn.contratar, form button{
  background-color: var(--color-1);
  color: var(--texto-2);
  text-align: center;
  padding: 2px 24px;
  border-radius: 15px;
  font-family: 'League Gothic';
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  text-decoration: none;
  margin: 10px 10px 0 0;
}

.enlaces a:hover, .btn.contratar:hover{
  background-color: var(--color-2);
  color: var(--texto-1);
}

/*.popup estilo en estilo.css con .tarjeta*/
form.contratar{
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    max-width: 800px;
}

.popup iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*Formulario CONTRATAR*/
label {
    margin-bottom: 0.25rem;
    color: var(--color-1);
    font-family: "league gothic";
}

input, select, textarea {
    width: 100%;
    padding: 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8em;
    box-sizing: border-box;
}

    textarea {
      grid-column: 1 / -1;
      min-height: 100px;
    }

    .full-width {
      grid-column: 1 / -1;
    }

/*---MEDIA RESPONSIVE---*/
@media screen and (min-width: 1920px){
.artista picture{
    width: 550px;
}

.enlaces{
      justify-content: space-evenly;
}
}


@media screen and (max-width: 1024px){
section.artistas{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.artista{
  display: flex;
}

.galeria-artistas picture{
  width: 325px;
  margin-bottom: 1em;
}

.galeria-artistas picture img{
  width: 400px;
  height: 100%;
}

.info-artista{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}}

@media screen and (max-width: 770px){
.pasando{
  flex-direction: column;
  text-align: center;
}
}

@media screen and (max-width: 480px){
.artista{
    flex-direction: column;
    align-items: center;
}

.enlaces{
      justify-content: space-evenly;
}
}

