.newsletter {
  margin: 100px;

}

.text-subtitle{
  position: relative;
  font-family: 'League Gothic', sans-serif;
  font-size: 2.5rem;
  text-align: left;
  transition: all 1.5s;
  z-index: 2;
  background-color: var(--texto-2);
}

.text-subtitle.apuntarse{
    position: absolute;
    z-index: 1;
}
h3.text-subtitle span{
      color: var(--color-1);
}

input.text-sub{
  font-family: 'League Gothic', sans-serif;
  font-size: 2.5rem;
  color: var(--color-1);
  text-align: left;
  border: none;
  outline: none;
}

input.text-sub::selection{
  font-family: 'League Gothic', sans-serif;
  font-size: 2.5rem;
  color: var(--color-1);
  text-align: center;
  margin-top: 2rem;
  border: none;
  z-index: 8;
  outline: none;
}

input.text-sub:hover{
  border: none;
  z-index: 8;
}


.text-subtitle.apuntarse.inactive{
    animation: transformacion 1s ease-in-out forwards;
}

.text-subtitle.apuntarse.active{
    animation: transformacion2 1s ease-in-out forwards;
}

@keyframes transformacion {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
  98% {
        transform: translateY(-3rem);
        opacity: 1;
    }
    100% {
        transform: translateY(-3rem);
        opacity: 0;
    }
    }

    @keyframes transformacion2 {
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }
}
    
    
    /*.form-contacto {
  max-width: 600px;
  margin: 80px auto;
  padding: 24px;
  text-align: center;
  background: #111;
  color: var(--color-1);
  border: 2px solid var(--color-1);
  border-radius: 16px;
  font-family: 'League Gothic', sans-serif;
}

.form-contacto h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.form-contacto input,
.form-contacto textarea {
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  font-size: 1.2em;
  background: black;
  border: 2px solid var(--color-1);
  color: white;
  font-family: inherit;
}

.form-contacto button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1.2em;
  background: var(--color-1);
  border: none;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
    border-radius: 16px;
}

.form-contacto button:hover {
  background: white;
}