@media screen and (max-width: 480px) {
   
  /*PRIMERA SECCION DE LA PORTADA*/
.primera-portada{ /*div global de la intro*/
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: -2;
}  
  
  .texto-animado{
    width: 100%;
  }
  
  .texto-animado span {
      font-size: clamp(32px, 18vw, 8em);
      line-height: 1;
    }

.p-sec{
    flex-direction: column-reverse;
    padding: 0 20px;
    justify-content: space-evenly;
}

.frente.intro{
    padding-right: 0;
    margin-bottom: 40px;
}

.introduccion{
    padding-top: 20px;
}

.img-sec-portada{
    width: calc(100% + 40px);
}

.project-grid {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.element-grid {
    margin: 20px;
    position: relative;
    overflow: hidden;

}

.fondo.grid, .frente.grid{
  padding: 24px
}

.descrip{
    font-size: 4em;
}

.descrip.cabecera{
    color: var(--color-2);
}

.descrip.cabecera span{
    color: var(--texto-1);
}


.tarjeta.presentacion{
    width: 90%;
    height: 80dvh;
    padding: 20px 60px 40px;
    border-radius: 10%;
    background-color: white;
    box-shadow:  -6px 7px 10px 5px rgb(0, 0, 0, 0.4);
    overflow: hidden;
    justify-content: space-around;
    z-index: 10;
}

.tarjeta{
    position: fixed;
    display: none;
    justify-content: center;
    background-color: rgb(17, 56, 58, 0.8);
    align-self: anchor-center;
    height: 100dvh;
    width: 100%;
    margin: 0 auto;
    
}

.tarjeta p.biografia{
    padding-top: 10px;
  font-size: 0.7em;
}
        }