@media screen and (max-width: 1024px){
    /*Portada*/
.introduccion{
    background-color: var(--texto-2);
    transition: all 1s ease;
}

.frente.intro{
    margin-bottom: 1em;
}

.project-grid {
    grid-template-columns: 1fr 1fr;
    padding: 1em 0;
    grid-area: auto;
    gap: 1em;
}

.element-grid:nth-child(1n) {
    grid-area: auto;
    margin-top: 0;
}

.element-grid:nth-child(6) {
    grid-area: 3;
}

.element-grid:nth-child(9) {
    grid-column: span 2;
}

.fondo.grid.oraciones.uno, .fondo.grid.oraciones.dos, .fondo.grid.oraciones.tres {
    text-align: left;
    z-index: 9;
    font-size: 0.6em;
    position: relative;
    top: 0%;
}

.fondo.grid.oraciones.tres{
    grid-area: 3;
    text-align: right;
}

.blur{
    filter: none;
}

.newsletter button{
    display: block;
    background-color: transparent;
    border: none;
    color: var(--color-1);
    font-family: "league gothic";
    font-size: 2.5rem;
}

.haz-click{
    display: inline-block;
    margin: -0.5em;
    font-size: 2em;
    text-align: left;
    color: var(--color-1);
    font-family: 'League Gothic';
}

.tres .haz-click{
    text-align: right;
}

}


@media screen and (max-width: 950px) {
    .frente_grid{
    position: absolute;
    text-align: right;
    right: 0;
    bottom: 0;
    padding: 48px;
}

.texto-animado span {
    font-size: 9em;
}

.descrip {
    font-size: 6em;
}

.tarjeta-presentacion {
    width: 90%;
    height: 80dvh;
}
}




@media screen and (max-width: 770px) {
    /*Portada*/
.p-sec{
    flex-direction: column-reverse;
    padding: 0 20px;
    justify-content: space-evenly;
    min-height: auto;
}

.texto-animado span {
    font-size: 8em;
}

.introduccion{
    padding-top: 40px;
}

.p-sec.grupo {
    justify-content: start;
}

.img-sec-portada{
    width: calc(100% + 40px);
}

.fondo.grid.oraciones.uno, .fondo.grid.oraciones.dos, .fondo.grid.oraciones.tres {
    text-align: center;
    z-index: 9;
    width: 100%;
    position: relative;
    top: 0%;
    font-size: 1em;
}

.descrip{
    z-index: 9;
}

/*---------------GALERIA PROJECTOS---------------*/
.project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.element-grid {
    margin: 20px;
    width: 100%;
}

.fondo.grid, .frente.grid{
    padding: 24px
}

.tarjeta-presentacion {
    width: 90%;
    height: 80dvh;
}

.tarjeta picture{
    margin-top: 20px;
}

.haz-click, .tres .haz-click{
    text-align: center;
}

/*CIERRE*/
.newsletter{
  font-size: 2em;
  align-items: center;
}

.text-apuntarse{
  transform: translateY(-2.3em);
}

}

@media screen and (max-width: 720px) {
       /*Portada*/
header{
    padding: 10px 40px;
    display:flex;
    justify-content: space-between;
    align-items:baseline;
}

header a, header button{ /*enlace de la navegación*/
    font-size: 1em;
}
  
.primera-portada{ /*div global de la intro*/
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: -2;
    font-family: "league gothic", sans-serif;
}  
  
.texto-animado{
    width: 100%;
}
  
.texto-animado span {
    font-size: 5em;
    line-height: 1;
    font-weight: 900;
}

.descrip{
    font-size: 4em;
}

.frente.intro{
    padding-right: 0;
    margin-bottom: 40px;
}

.introduccion{
    width: 100%;
    font-size: inherit;
}

.frente.grupo{
    position: absolute;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
}

/*---------------TARJETAS---------------*/
.tarjeta.presentacion, .popup-contenido {
    width: 90%;
    justify-content: space-around;
}


}