@media screen and (max-width: 480px) {
  /*Portada*/
.primera-portada{ 
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: -2;
}  

.texto-animado{
    width: 100%;
}
  
.texto-animado span {
    font-size: 4em;
    line-height: 1;
}

.p-sec{
    flex-direction: column-reverse;
    padding: 0 20px;
    justify-content: space-evenly;
}

h4{
    font-size: 1em;
}

.frente.intro{
    padding-right: 0;
    margin-bottom: 40px;
}

.introduccion{
    padding-top: 20px;
}

.img-sec-portada{
    width: calc(100% + 40px);
}

.project-grid {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.element-grid {
    margin: 20px;
    position: relative;
    overflow: hidden;

}

.fondo.grid, .frente.grid{
  padding: 24px
}

.descrip, .artista .descrip {
    font-size: 4em;
}

.descrip.cabecera, .descrip.cabecera span{
    color: var(--color-1);
}

.tarjeta-presentacion, .popup-contenido  {
    width: 90%;
    height: 90dvh;
    padding: 30px;
    border-radius: 5%;
}

.tarjeta p.biografia{
    padding-top: 10px;
    font-size: .7em;
}

picture img{
    object-fit: cover;
    height: 100%;
    position: relative;
}


.text-subtitulo, .text-subtitulo span {
    text-align: center;
    display: inline-block;
}

/*WEB ARTISTAS*/
h1.contactar{
    font-size: 6em;
}

h4.subtitulo.izq, p.izq {
    margin-left: 30px;
}

.galeria-artistas p, .unirse p {
    font-size: .9em;
}
}


@media screen and (max-width: 375px) { /*Iphone SE*/
.newsletter{
    font-size: 1.6em;
}

.text-apuntarse{
    transform: translateY(-3.3em);
}

}


@media screen and (max-width: 350px) {
    /*Portada*/
.descrip, .descrip.cierre {
    font-size: 2em;
}

.descrip.cabecera, .texto-animado span, .expresiones{
    font-size: 3em;
}

.texto-fondo:nth-child(2) {
    padding-left: 55%;
}

h4.text-p{
    font-size: 1em;
}

    /*Newsletter*/
.text-apuntarse{
    transform: translateY(-3.3em);
}

input.text-sim{
    font-size: 1.6em;
}

    /*Artistas*/
h1.contactar {
    font-size: 5em;
}

h4.subtitulo {
    margin-top: -15px;
}


    /*Unete*/

}

@media screen and (max-width: 320px) {
    /*Portada*/
.descrip.cabecera, .texto-animado span, .expresiones{
    font-size: 2em;
}
}

@media screen and (max-width: 250px) {/*ñapo para iphone de mi hermana*/
body, html{ /*cuerpo de la pagina*/
    min-width: 250px;
    font-size: .7em;
}
}