@media screen and (max-width: 480px) {
   
  /*PRIMERA SECCION DE LA PORTADA*/
.primera-portada{ /*div global de la intro*/
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: -2;
}  
  
  .texto-animado{
    width: 100%;
  }
  
  .texto-animado span {
      font-size: 4em;
      line-height: 1;
    }

.p-sec{
    flex-direction: column-reverse;
    padding: 0 20px;
    justify-content: space-evenly;
}

.frente.intro{
    padding-right: 0;
    margin-bottom: 40px;
}

.introduccion{
    padding-top: 20px;
}

.img-sec-portada{
    width: calc(100% + 40px);
}

.project-grid {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.element-grid {
    margin: 20px;
    position: relative;
    overflow: hidden;

}

.fondo.grid, .frente.grid{
  padding: 24px
}

.descrip{
    font-size: 4em;
}

.descrip.cabecera{
    color: var(--color-1);
}

.descrip.cabecera span{
    color: var(--texto-2);
}

.tarjeta-presentacion, .popup-contenido  {
    width: 100%;
    height: 100%;
    padding: 30px;
    width: 90%;
    height: 90dvh;
    border-radius: 5%;
}

.tarjeta p.biografia{
    padding-top: 10px;
    font-size: 0.7em;
}

picture img{
    object-fit: cover;
    height: 100%;
    position: relative;
}



/*WEB ARTISTAS*/


}


@media screen and (max-width: 350px) {

.newsletter{
    font-size: 1.5em;
}

.texto-fondo:nth-child(2) {
    padding-left: 55%;
}

h4.text-p{
    font-size: 1em;
}

.text-apuntarse{
  transform: translateY(-3.3em);
}

input.text-sim{
    font-size: 1.6em;
}

.descrip, .descrip.cierre {
    font-size: 2em;
}

.descrip.cabecera, .texto-animado span{
    font-size: 3em;
}
}